

/* ==========================================================================
   Author's custom styles
   ========================================================================== */



.jumbotron {
  background: url('../img/skyline.jpg') no-repeat center center;
  color: white;
  text-shadow: black 0.4em 0.4em 0.4em;
  height: 100%;
}












x-width: 800px;
}

olor: white;
    text-shadow: black 0.3em 0.3em 0.3em;
}













